    @charset "UTF-8";
    html {
        width: 100%;
        height: 100%;
        background: -webkit-linear-gradient(0deg, rgb(251, 255, 0) 50%, rgb(0, 120, 255) 37%);
        background: -moz-linear-gradient(0deg, rgb(251, 255, 0) 50%, rgb(0, 120, 255) 37%);
        background: linear-gradient(0deg, rgb(251, 255, 0) 50%, rgb(0, 120, 255) 37%);
        background-repeat: no-repeat;
        background-position: right bottom;
    }
    
    a {
        font-size: 6em;
        text-decoration: none;
        color: #111
    }
    
    a:hover {
        font-weight: bold;
        letter-spacing: 6px;
    }
    
    .box {
        margin: auto;
        width: 96%;
    }
